body{
    font-family: 'Montserrat', sans-serif;
}

.title{
    text-align: left;
}

.submit, .form{
    width: 100%;
    max-width: 1020px;
    margin: 5%;
    margin-top: 50px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30 px;
    justify-items: start;
    FONT-WEIGHT: 1000;
}

.label{
    font-size: 15px;
}

.input{
    margin: auto 0;
    border: none;
    border-bottom: 1px solid #000000;
    padding-left: 5px;
    font-size: 14px;
}

.input::placeholder{color: var(--placeholder, blue)}

.input:focus {
    outline: 0;
    outline-offset: 0;
}

.submit{
    text-align: left;
    margin-bottom: 50px;
}

.submit button{
    font-size: 18px;
    padding: 5px 25px;
    border: 1px solid #FFFFF;
    border-radius: 10px;
    background-color: rgb(0, 26, 173);
    color: white;
}

.gender{
    display: flex;
    font-size: 14px;
    margin-left: 5px;
}


.male, .female{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: left;
}

.title{
    width: 100%;
    max-width: 700px;
    margin: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 32px;
    text-align: left;
}

.title button a{
    text-decoration: none;
    color: white;
}

.dom{
    padding: 10px 30px;
    background-color: rgb(100, 143, 0);
    color: black;
}

.doc{
    padding: 10px 30px;
    background-color: rgb(143, 0, 0);
    color: white;
    margin-left: 5% auto;
}

button:hover{
    cursor: pointer;

}

@media screen and (max-width: 1199px) {
    .form{
        max-width: 960px;
    }
    .label{
        font-size: 14px;
    }
    .input{
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) {
    .form{
        max-width: 750px;
    }
    .label{
        font-size: 12px;
    }
    .input{
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .form{
        max-width: 550px;
    }
    .label{
        font-size: 8px;
    }
    .input{
        font-size: 8px;
    }
}

@media screen and (max-width: 575px) {
    .form{
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    .label{
        display: none;
    }

    .redio_input_1::before{
        content: 'Наличие ноутбука/компьютера:';
        font-size: 14px;
        padding-right: 37px;
    }

    .redio_input_2::before{
        content: 'Наличие стабильного интернета:';
        font-size: 14px;
        padding-right: 25px;
    }

    .redio_input_3::before{
        content: 'Наличие авто:';
        font-size: 14px;
        padding-right: 167px;
    }

    .input{
        font-size: 12px;
        margin-bottom: 40px;
    }
    .title{
        font-size: 24px;
    }

    .body{
        background-color: aliceblue;
    }
}
